body{
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

 .container{
    max-width: 1200px;
    padding: 20px 20px;
    margin: auto;
  
 }
 #upper_section{
    height: 100vh;
    position: relative;
   
    padding-bottom: 50px;
 }
 .inner_upper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 }
 .upper_left{
    background-color: #FFF8EB;
    flex-basis: 35%;
   transform: translateY(-2.5px);
   height:100vh;

  
  
 }
 .nav_bar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 40px;
 /* border-bottom: 1px solid gray; */
 }
 .nav_bar img{
    padding: 5px 10px 5px 40px;
 }
 .upper_right{
    flex-basis: 62%;
 
 }
 .upper_right img{
    width: 30%;
  width: 100%;
  height: 100vh;
 }
 .nav_bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    padding-right: 15px;
   
 }

 .nav_bar ul li{
    cursor: pointer;
    font-size: 20px;
    padding-right: 20px;
 }
 .nav_bar ul li i{
 /* Group 20 */

width: 45px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

font-size: 60px;
font-weight: 200;


 }
 li{
    list-style: none;
    font-weight: 300;
 }
 .upper_left h1{
 padding-left: 40px;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 65px;
/* or 116% */
display: flex;
align-items: center;
text-transform: capitalize;

/* black */
color: #000000;


 }
 .upper_left p{

    padding-left: 40px; 
    font-size: 14px;
    max-width: 460px;
/* The Gage Hotel offers unforgettable food and drink options. Enjoy dinner at the award-winning */

width: 408px;
height: 60px;


font-weight: 400;

line-height: 30px;
/* or 188% */
display: flex;
align-items: center;

/* Black 2 */
color: #424242;


}
.book_btn{
    height: 50px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 40px;
    right: 35px;
 
  
}
.book_btn button{
border: none;
background-color: transparent;
padding-top: 15px;
padding-left: 25px;
}
.banner_middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 430px;
    left: 60px;
    background-color: rgb(255, 255, 255) ;
    width: 900px;
    height: 115px;
    padding: 10px 30px;

}
.check_in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    line-height: 10px;
    padding-left: 30px;
    
}
.number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 10px;
    gap: 40px;  
}
.line_middle{
height: 60px;
width: 1px;
background-color: #919191;



}
.check_out{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 10px;
    gap: 40px;  
}
.stay_btn{
height: 60px;
width: 200px;
background-color:#E2CB89 ;
display: flex;
align-items: center;
justify-content: center;

}
.stay_btn button{
    border: none;
    outline: none;
    background: transparent;
}
.our{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#middle{
   padding-top: 50px;
   padding-bottom: 50px;
}
.our_r{
   flex-basis: 60%;
}
.villa_btn{
align-self: baseline;
transform: translateY(50px);
height: 50px;
width: 150px;
border: 1px solid #E2CB89;
display: flex;
align-items: center;
justify-content: center;
}
.our_r h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 53px;
line-height: 64px;
/* identical to box height, or 121% */
display: flex;
align-items: center;
text-transform: capitalize;

color: #000000;

 
}
.our_r p{

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;
margin-top: -20px;
color: #424242;


}
.villa_btn button{
   background: transparent;
   border: none;
}
.hotels{
padding-top: 30px;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}
.first{
flex-basis: 32%;
max-width: 350px;
margin-bottom: 40px;
cursor: pointer;
transition-duration: .1s;
padding-bottom: 10px;
box-shadow: 2px 2px 5px rgb(227, 227, 227);
}

.second{
flex-basis: 32%;
max-width: 350px;
margin-bottom: 40px;
cursor: pointer;
transition-duration: .1s;
padding-bottom: 10px;
box-shadow: 2px 2px 5px rgb(227, 227, 227);
}

.third{
flex-basis: 32%;
max-width: 350px;
margin-bottom: 40px;
cursor: pointer;
transition-duration: .1s;
padding-bottom: 10px;
box-shadow: 2px 2px 5px rgb(227, 227, 227);
}

.four{
flex-basis: 32%;
max-width: 350px;
margin-bottom: 40px;
cursor: pointer;
transition-duration: .1s;
padding-bottom: 10px;
box-shadow: 2px 2px 5px rgb(227, 227, 227);
}

.five{
flex-basis: 32%;
max-width: 350px;
margin-bottom: 40px;
cursor: pointer;
transition-duration: .1s;
padding-bottom: 10px;
box-shadow: 2px 2px 5px rgb(227, 227, 227);
}

.six{
flex-basis: 32%;
max-width: 350px;
margin-bottom: 40px;
cursor: pointer;
transition-duration: .1s;
padding-bottom: 10px;
box-shadow: 2px 2px 5px rgb(227, 227, 227);
}

.up_part{
   
}
.up_part img{
overflow: hidden;
max-width: 350px;
}
.imojis{
   position: absolute;
   background: rgb(255, 255, 255);
   margin-top: -38px;
   height: 35px;
 width: 220px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.imojis ul{
  

   display: flex;
   align-items: center;
   justify-content: flex-start;

margin-left: -30px;
margin-top: -5;


height: 35px;
gap: 20px;

padding-right: 8px;

}
.imojis ul li{
}
.hotel_middle{
   
}
.hotel_middle h4{
margin: 20px 8px;
color: #000;
font-family: Gilda Display;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.hotel_middle p{
   color: #424242;
   font-family: Barlow;
   font-size: 16px;
   font-style: normal;
   max-width: 280px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 8px;
}
.hotel_bottom{
   margin-left: 8px;
   margin-right: 15px;
display: flex;
align-items: center;
justify-content: space-between;
}
.buottom_first{
   gap: 8px;
   display: flex;
   align-items: center;
   justify-content: flex-start;

}
.buottom_first img{

}
.buottom_first p{
   color: var(--black-3, #8588A2);
   font-family: Barlow;
   font-size: 16px;
   font-style: normal;
}
.hotel_btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 112.846px;
height: 46.845px;
background-color:  #E2CB89;;
}
.hotel_btn button{
background: transparent;
border: none;
}
.view_btn{
   height: 50px;
width: 150px;
border: 1px solid #E2CB89;
display: flex;
align-items: center;
justify-content: center;
}
.view_btn button{
   background: transparent;
   border: none;
}
#second_middle{
   background-color:#F8F5F0; ;
padding-top: 50px;
}
.middle_container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.middle_img{
   flex-basis: 50%;
}
.middle_img img{
width: 100%;
}
.middle_text{
   flex-basis: 50%;
}
.middle_text h2{
   color: #000;
   font-family: Gilda Display;
   font-size: 47.041px;
   font-style: normal;
   font-weight: 400;
   line-height: 55.509px; /* 118% */
   text-transform: capitalize;
}
.middle_text p{
   color: #424242;
   font-family: Barlow;
   font-size: 13.685px;
   font-style: normal;
   font-weight: 400;
   line-height: 25.659px;
}
.dubai_img{
   transform: translateY(-7px);
}
.myrtle h2{
   padding-left: 80px; 
}
.myrtle p{
   padding-left: 80px; 
}
.first_view{
   margin-left: 80px; 

}